out
dist
node_modules
.vscode-test/
npm-debug.log
yarn-error.log
mock-debug.txt
*.vsix
.DS_Store
*.pdx
fixtures/PlaydateSDK-1.12.3/*
!fixtures/PlaydateSDK-1.12.3/VERSION.txt
.nyc_output/
coverage/
tmp/
